<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/MUDROCK.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Lex, and the data is acquired from <a href="https://positionstack.com/">Positionstack</a> and <a href="https://weatherstack.com/">Weatherstack</a>. </p>
        
        <img class="portrait" src="img/MUDROCK.jpg">
    </div>
    
    {{>footer}}
</body>