<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="img/MUDROCK.jpg">
    <link rel="stylesheet" href="/css/styles.css">
    <!--  原来的  <script src="/js/app.js"></script>-->
</head>

<body> 
    <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather!</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></P>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>


</html>